.about-section {
  display: flex;
  background-color: var(--color-backgroundlight);
  padding: 2em;
  gap: 3em;
}

.about-container {
  text-align: left;
  border: 10px solid var(--color-borders);
  margin: 0 1em 0 0;
  padding: 0.5em;
  color: var(--color-textlight);
  background-color: whitesmoke;
  font-weight: 500;
  border-radius: 15px;
}

.about-title {
  color: var(--color-text);
  font-size: 2em;
  margin: auto;
  padding: 0.2em;
}

.about-text {
  margin: auto;
  padding: 0.5em;
}

.dark .about-container {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .about-section {
    flex-direction: column;
    gap: 1em;
  }
}

.about-container {
  border-width: 5px;
}

@media screen and (max-width: 480px) {
  .about-container {
    border-width: 3px;
  }
}
