.createTimeOff-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0;
  font-family: "Fira Sans";
}

.createTimeoff-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22em;
}

.createTimeoff-form input[type="date"],
.createTimeoff-form input[type="text"],
.createTimeoff-form select {
  width: 25em;
  padding: 8px;
  border: 1px solid var(--color-borders);
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 0.9em;
  font-family: "Fira Sans";
}

.dialog-buttons {
  display: flex;
  gap: 12em;
}

.book-timeoff{
background-color: white;

}