.delete-button {
  width: 8em;
  background-color: #f44336;
  font-weight: 600;
  color: white;
    border: 2px solid var(--color-borders);
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em;
}