.main-header {
  margin: 3em 0em 1em 0.6em;
  font-size: 2em;
  color: var(--color-text);
  background-color: var(--color-borders);
  width: fit-content;
  padding: 1% 1em;
 border-radius: 15px;
}
.main-subheader {
  color: whitesmoke;
  text-align: left;
  background-color: var(--color-borders);
  padding: 1.2em;
  margin: 0em 0em 0em 1em;
  border-radius: 15px;
  width: 14em;
  font-weight: 400;
}

.main-section {
  display: flex;
  background-color: var(--color-background);
  opacity: 95%;
}

.main-image-container {
  margin: 5em;
}

#teamCodeInput {
  margin: 1em;
  border-radius: 15px;
  border: 2px solid var(--color-borders);
  text-align: center;
  height: 2.2em;
  outline: none;
  font-size: 1em;
}

#teamCodeInput::placeholder {
  text-align: center;
  color: var(--color-borders);
}

#teamCodeInput:focus::placeholder {
  color: transparent;
}


.submitTeam-container label {
  font-size: 1.2em;
  color: whitesmoke;
  font-weight: 800;
}

.dark .submitTeam-container label {
  color: #ffffff;
}

.button-submit {
 size: 2em;
 font-size: 1em;
  background-color: var(--color-buttons);
  color: var(--color-text);
  border-radius: 15px;
  border: 1px solid var(--color-borders);
  text-decoration: none;
  cursor: pointer;
  -webkit-text-stroke: 1.5px var(--color-links);
 
}

.testimonials-container {
  margin: 3em 0em;
}



.home-container.dark {
  background: #000000;
}

.dark .main-header,
.dark .testim-header {
  color: #ffffff;
}

.dark .main-subheader {
  color: #ffffff;
}

.dark .submitTeam-container {
  color: #ffffff;
}
