.main-header {
  font-size: 2em;
  color: var(--color-textlight);
  background-color: var(--color-borders);
  width: fit-content;
  padding: 1% 1em;
  border-radius: 15px;
  border: 3px solid whitesmoke;
}
.main-subheader {
  color: whitesmoke;
  text-align: left;
  background-color: var(--color-borders);
  padding: 1.2em;
  border-radius: 15px;
  width: 70%;
  font-weight: 400;
  border: 5px solid;
}

.main-section {
  display: flex;
  background-color: var(--color-backgroundlight);
  padding: 2em;
}

.main-image-container {
  margin: auto;
}

.img-main {
  height: 18em;
  width: auto;
  transition: transform 0.3s ease;
}

.img-main:hover {
  transform: scale(1.05);
  z-index: 1;
}

#teamCodeInput {
  margin: 1em;
  border-radius: 15px;
  border: 2px solid var(--color-borders);
  text-align: center;
  height: 2.2em;
  outline: none;
  font-size: 1em;
}

#teamCodeInput::placeholder {
  text-align: center;
  color: var(--color-borders);
}

#teamCodeInput:focus::placeholder {
  color: transparent;
}

.submitTeam-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.submitTeam-container label {
  font-size: 1.2em;
  color: whitesmoke;
  font-weight: 800;
}

.dark .submitTeam-container label {
  color: #ffffff;
}

.button-submit {
  width: 17em;
  size: 2em;
  font-size: 1em;
  background-color: var(--color-buttons);
  color: var(--color-text);
  border-radius: 15px;
  border: 1px solid var(--color-borders);
  text-decoration: none;
  cursor: pointer;
  padding: 0.5em;
  font-weight: bolder;
}

.button-submit:hover {
  width: 17em;
  size: 2em;
  font-size: 1em;
  background-color: var(--color-text);
  color: var(--color-buttons);
  border-radius: 15px;
  border: 1px solid var(--color-borders);
  text-decoration: none;
  cursor: pointer;
  padding: 0.5em;
  font-weight: bolder;
}

.testim-header {
  color: antiquewhite;
  align-items: center;
}

.home-container.dark {
  background: #000000;
  width: fit-content;
}

.dark .main-header,
.dark .testim-header {
  color: #ffffff;
}

.dark .main-subheader {
  color: #ffffff;
}

.dark .submitTeam-container {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .main-header {
    font-size: 1.5em;
  }

  .main-subheader {
    width: 85%;
  }

  .main-section {
    flex-direction: column;
    padding: 1em;
  }

  .img-main {
    height: 12em;
  }

  #teamCodeInput {
    width: 80%;
    margin: 0.5em auto;
  }

  .submitTeam-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .main-header {
    font-size: 1.2em;
  }

  .img-main {
    height: 10em;
    padding: 1em;
  }

  #teamCodeInput {
    width: 90%;
  }

  .submitTeam-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
