.carousel-root {
  display: flex;
  width: 40em;
  margin: auto;
  margin-top: 3%;
}
.carousel .slide {
  background: var(--color-backgroundlight);
  height: 100%;
}

.dark .carousel .slide {
  background: #000000;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px;
  border-radius: 70%;
}

.myCarousel {
    background: var(--color-textlight);
    margin-top: -6%;
    margin-left: initial;
    padding-top: 6%;
    padding-bottom: 16%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid var(--color-borders);
}

.carousel .control-dots {
  padding-left: 5px;
  outline: 0;
  bottom: 5%;
}

.myCarousel h3 {
  color: grey;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: var(--color-text);
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100;
  line-height: 29px;
  color: whitesmoke;
  font-size: 15px;
  max-height: 67px;
  font-weight: 700;
}

.myCarousel p:before {
  content: "“";
  color: var(--color-borders);
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: var(--color-borders);
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none;
  background: var(--color-links); 
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: var(--color-text);
  height: 50px;
  position: absolute;
  top: 35%;
  border-radius: 20px;
}

.carousel.carousel-slider .control-arrow:hover {
  background: var(--color-links); 
  cursor: pointer;
}